package ${package}.${moduleName}.dao;

import ${package}.${moduleName}.entity.${className}Entity;
import org.apache.ibatis.annotations.Mapper;
import org.springframework.stereotype.Repository;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
@Repository
public interface ${className}Dao {

}
