package ${package}.${moduleName}.dto;

import javax.validation.constraints.NotNull;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.util.Date;
import lombok.Data;

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${className}DTO{
#foreach ($column in $columns)
	/**
	 * $column.comments
	 */
	#if($column.columnName == $pk.columnName)
	#end
private $column.attrType $column.attrname;
#end

}
